@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body{ 
    background-color: #f3e1e1;
    height: 1500px;
}

header , footer{
    background-color: #7d5a5a;
}

main{
height: 100%;

}

footer{
 bottom: 0px;
  height: 50px;
  width: 100%;
  
}
#footerH5 {
    text-align: center;
    font-size: x-large;
    color:  #f3e1e1;
   
}

header{
    position: sticky;
    display: block;
    padding: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px; 
}


h1{
  color: #f3e1e1;
 display: inline-block;
 font-size: 55px;
 font-weight: lighter;
 margin-bottom: 25px;
 font-family: 'Potta One', cursive;

}
#homeH1 , #salesH1 {
    color:  #7d5a5a;
    margin: 30px;
    margin-left: 400px;

}

a {   
 text-decoration: none;
 color: #f3e1e1;

}
 
.headerNav{ 
        color: #f1d1d1;
        display: inline-block;
        padding: 5px;
       text-decoration: none;
        border: 3px solid #f1d1d1;
        margin: 10px;
        font-family: 'Times New Roman';
        font-size: 20px;
        text-align: center;
}
.Nav{
        float: right;
        margin-right: 40px;
}

#familyImg {
    padding-left: 300px;
}

#pDiv {
    display:block;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px; 
    padding: 20px;
    color:  #7d5a5a;
}

#h4P {
    font-size: xx-large;
    padding-bottom: 30px;
}

#p1 {
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #888888;
}

#imgDiv {
    display:block;
    width: 1505px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px; 
    padding-left: 10px;
    
}
#smallImg {
    display: inline-block;
    width: 200px ; 
    height: 300px;
    padding:20px ;
}

#h3Branches{
   font-size: xxx-large;
   color: #7d5a5a ;
   text-align: center;
}

#pBranches {
    display:block;
    width: 1505px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px; 

}

#Branches {
    font-size: large;
    display: inline-block;
    padding: 40px;
    padding-top: 5px;
    color:#6c5b7c  ;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
margin : 35px ; 
}

h2 {
  margin-left: 35px ;

}

td , th ,tr {
    padding-left: 30px;
  border: 2px solid black ; 
  /* text-align: center; */
  
}

table {
margin-right: auto;
margin-left: auto;
border-collapse: collapse;
color: #7d5a5a;
font-size: x-large;
width: 1400px;

}


form {
    border: 2px solid  black;
    width: 500px;
    height: 300px;
    background-color: #dfd3d3;
    color: #7d5a5a;
    margin-left: 61px;
    margin-top: 40px;
    font-size: x-large;
    border-radius: 10px;
}

#submit {
    float: right;
    margin: 10px 10px 10px 10px ;
    border-radius: 10px;
}

#formTitle {
   text-decoration: underline;
   text-align: center;
   font-size: xx-large;
}

#storeCity , #minCustPerHour , #maxCustPerHour , #avgCookiesPerSale {
    padding-left: 10px ;
        
}

#formElement {
    margin-left: 20px;
}

 #grandTotal { 
    display: block;
   transform: translateX(1240px);
   width: 125px;
   border:solid 4px  black; 
   border-radius: 10px;
} 

